body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-image: url('../img/bkg.jpg');
    background-size: cover;

}

#app {
    display: grid;
    grid-auto-rows: auto;
    /* grid-template-columns:  */
    height: 100vh;
    grid-template-areas:
        "header"
        "temp"
        "response";
    color: #f0d43a;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.entry {
    grid-area: response;
    width: 100%;
    height: 25vh;
    text-align: center;
    background: rgba(59, 74, 107, .25);
    display: flex;
    flex-direction: column;
}

#entryHolder {
    font-size: 1.5em;
}


#content {}

.headline {
    grid-area: header;
    font-size: 1.8em;
    text-align: center;
    font-weight: 900;
    padding-top: 20px;
}

.data {
    grid-area: temp;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.zip-error {
    color: red;
    font-size: 30px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
    display: block;
    font-size: 27px;
}

input {
    display: block;
    height: 10vh;
    width: 100%;
    background: azure;
    color: blue;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    border: none;
    margin-bottom: 1px;
}

button {
    width: 50%;
    height: 80px;
    margin-top: 25px;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    border-radius: 10px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
}

h1 {
    font-size: 36px;
}

textarea {
    background: azure;
    color: blue;
    height: 20vh;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    margin-top: 20px;
    padding-top: 10px;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

/* Style for Placeholder Text*/
::placeholder {
    /* Firefox, Chrome, Opera */
    color: blue;
    font-family: 'Oswald', sans-serif;

}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;

}

@media(max-width : 920px) {
    .headline {
        font-size: 40px;
    }

    input,
    .entry,
    textarea {
        width: 90%;
    }

    .entry {
        margin-left: 10px;
    }

    button {
        height: 10vh;
        font-size: 1.5em;
    }
}